services:
    django_env:
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - DEBUG=1
            - CELERY_BROKER_URL=redis://redis:6379/0
            - result_backend=redis://redis:6379/1
        env_file:
            - ./.env
        build: .
        image: django-stixify
        volumes:
            - .:/usr/src/app
        command: >
                bash -c "
                        python manage.py makemigrations &&
                                python manage.py migrate
                        "
    django:
        extends: django_env
        command: gunicorn stixify.wsgi:application --bind 0.0.0.0:8004 --reload
        ports:
            - 8004:8004
        depends_on:
            redis:
                condition: service_started
    celery:
        extends: django_env
        command: celery -A stixify.worker worker -l INFO
        depends_on:
            - django
            - redis
    redis:
        image: "redis:alpine"
volumes:
    pgdata: